/* Reset Browser Defaults*/

* {
  padding:0;
  margin: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Typography */
body {
  font-family: proxima-nova, Proxima Nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  color: #767B83;
  background: #F4F6F9;
  -webkit-font-smoothing: antialiased;
}

header {
  text-align: center;
  text-transform: uppercase;
  width: 600px;
  margin: 100px auto 25px;
}

.container header{
  margin-top: -40px;
  width: 100%;
}

.homepage{
  padding-top: 40px;
}

header p {
  letter-spacing: 2px;
  font-weight: 300;
}

h1 {
  font-weight: 600;
  font-size: 1.125em;
  margin-bottom: 20px;
  line-height: 1em;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

p {
  line-height: 1.5em;
}

img{
  max-width: 100%;
}

.about p {
  padding-bottom: 20px;
  text-align: justify;
}

footer p {
  text-align: center;
  font-size: 0.625em; /* 10/16 */
}

small {
  text-align: center;
}

strong {
  font-weight: 400;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: #767B83;
}

a:hover {
  text-decoration: underline;
  color: #767B83;
}


.social a {
  opacity: 0.3;
  transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.social a:hover {
  opacity: 0.8;
}

.social li {
  display: inline;
  margin: 4px;
  color: #444;
}


.repos ul li{
  padding: 20px 0;
  border-top: 1px solid #EEF0F2;
  position: relative;
}

.repos.sub-repos ul li a{
  display: block;
}

.repos ul li a:after{
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -10px;
  background: url(../images/right.png);
  background-repeat: no-repeat;
}

/* Layout */

.container {
  width: 600px;
  margin: 30px auto 25px;
  background-color: rgba(255, 255, 255, 1);
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
}

.social {
  margin-top: 60px;
  text-align: center;
}

footer {
  margin-top: 30px;
}

img.avatar {
margin-bottom: 30px;
width: 125px;
height: 125px;
margin-top: -30px;
}

/* Responsive Styles */

@media only screen and (min-width: 1920px) {
  body {
    background-size: 100%;
  }
}

@media only screen and (max-width: 600px) {

  .container, header{
    width: 90%;
    margin-top: 50px;
    padding: 30px;
  }

  header{
    padding: 0 30px !important;
  }
}
